<footer>
    <nav class="footer-nav --li-spread">
        <a href="/" class="footer-a">Home</a>
        <a href="/about.html" class="footer-a">About</a>
        <a href="/services.html" class="footer-a">Services</a>
        <a href="/contact.html" class="footer-a">Contact</a>
    </nav>
    <div class="footer-container">
        <img src="/assets/footer-facebook.svg" alt="" class="footer-icon">
        <img src="/assets/footer-twitter.svg" alt="" class="footer-icon">
        <img src="/assets/footer-snapchat.svg" alt="" class="footer-icon">
        <img src="/assets/footer-linkedin.svg" alt="" class="footer-icon">
        <img src="/assets/footer-instagram.svg" alt="" class="footer-icon">
    </div>
</footer>