.who{
    padding: 0 calc((20 /16 * 1rem) + ((250 - 20) * ((100vw - 320px) / (1920 - 320)))) ;
}

.who-h2{
    text-align: center;
}
.who-img{
    width: 100%;
    border-radius: calc((10 /16 * 1rem) + ((70 - 10) * ((100vw - 320px) / (1920 - 320))));
}






.promise .splitContainer-h2::before{
    background-color: var(--c-green);
}


.promise .splitContainer{
    flex: 1;
}

.promise-image{
    flex: 1;
    position: relative;
    margin-right: auto;
}
.promise-img{
    margin: auto;
}
.promise-signature{
    width: 60%;
    
    position: absolute;

    bottom: 10%;
    right: 10%;
}

@media screen and (max-width:950px) {
    .promise {
        display: block;
    }
}