---
title: Home
---
{% extends "boilerplate/base.njk" %}


{% block content %}
    <section class="hero --split">
        <div class="hero-container --spread">
            <h1>Affordable Pet Sitting For Your Furry Loved-Ones</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus fuga dicta laudantium, voluptatum enim cum esse dolorum quas optio possimus.</p>
            <a href="" class="--b-blue a-button">Get Started</a>
        </div>
        <div class="hero-image">
            <img class="hero-img" src="/assets/hero-img.png" alt="">
            <img src="/assets/hero-backsplash.svg" alt="" class="hero-backsplash">
        </div>
    </section>




    <section class="services">
        <div class="--s-divider">
            <div class="divider-line"></div>
            <span class="divider-text">Something For Everyone</span>
            <div class="divider-line"></div>
        </div>

        <div class="services-container">
            <div class="services-card">
                <img src="/assets/services-visit.svg" alt="" class="services-img">
                <h3 class="services-h3">Daily Visits</h3>
                <a href="" class="learnMore">Learn More...</a>
                <a class="a-button --b-blue">Book Now</a>
            </div>

            <div class="services-card">
                <img src="/assets/services-walk.svg" alt="" class="services-img">
                <h3 class="services-h3">Dog Walking</h3>
                <a href="" class="learnMore">Learn More...</a>
                <a class="a-button --b-blue">Book Now</a>
            </div>

            <div class="services-card">
                <img src="/assets/services-night.svg" alt="" class="services-img">
                <h3 class="services-h3">Overnight Stay</h3>
                <a href="" class="learnMore">Learn More...</a>
                <a class="a-button --b-blue">Book Now</a>
            </div>

            <div class="services-card">
                <img src="/assets/services-maintenance.svg" alt="" class="services-img">
                <h3 class="services-h3">Maintenance</h3>
                <a href="" class="learnMore">Learn More...</a>
                <a class="a-button --b-blue">Book Now</a>
            </div>
        </div>
    </section>




    <section class="animals">
        <h2>We Offer Services For Most Domestic Animals</h2>

        <div class="animals-container">
            <div class="animals-card">
                <div class="animals-image">
                    <img class="animals-img" src="/assets/animals-dog.png" alt="">
                    <img src="/assets/animals-dog.svg" alt="" class="animals-backsplash">
                </div>
                <div class="animals-subContainer --spread">
                    <h3>Dogs</h3>
                    <ul class="--li-spread">
                        <li>Lorem ipsum dolor sit amet consectetur.</li>
                        <li>Eos aliquam fuga voluptate dolorem veritatis?</li>
                        <li>Vitae cupiditate tempore deleniti velit ad.</li>
                        <li>Amet accusamus ratione aspernatur ullam repellat.</li>
                        <li>Aliquam cumque quibusdam sunt accusamus perspiciatis.</li>
                    </ul>
                </div>
            </div>

            <div class="animals-card">
                <div class="animals-image">
                    <img class="animals-img animals-img-cat" src="/assets/animals-cat.png" alt="">
                    <img src="/assets/animals-cat.svg" alt="" class="animals-backsplash">
                </div>
                <div class="animals-subContainer --spread">
                    <h3>Dogs</h3>
                    <ul class="--li-spread">
                        <li>Lorem ipsum dolor sit amet consectetur.</li>
                        <li>Eos aliquam fuga voluptate dolorem veritatis?</li>
                        <li>Vitae cupiditate tempore deleniti velit ad.</li>
                        <li>Amet accusamus ratione aspernatur ullam repellat.</li>
                        <li>Aliquam cumque quibusdam sunt accusamus perspiciatis.</li>
                    </ul>
                </div>
            </div>

            <div class="animals-card">
                <div class="animals-image">
                    <img class="animals-img animals-img-lizard" src="/assets/animals-lizard.png" alt="">
                    <img src="/assets/animals-lizard.svg" alt="" class="animals-backsplash">
                </div>
                <div class="animals-subContainer --spread">
                    <h3>Dogs</h3>
                    <ul class="--li-spread">
                        <li>Lorem ipsum dolor sit amet consectetur.</li>
                        <li>Eos aliquam fuga voluptate dolorem veritatis?</li>
                        <li>Vitae cupiditate tempore deleniti velit ad.</li>
                        <li>Amet accusamus ratione aspernatur ullam repellat.</li>
                        <li>Aliquam cumque quibusdam sunt accusamus perspiciatis.</li>
                    </ul>
                </div>
            </div>

            <div class="animals-card">
                <div class="animals-image">
                    <img class="animals-img animals-img-hamster" src="/assets/animals-hamster.png" alt="">
                    <img src="/assets/animals-hamster.svg" alt="" class="animals-backsplash">
                </div>
                <div class="animals-subContainer --spread">
                    <h3>Dogs</h3>
                    <ul class="--li-spread">
                        <li>Lorem ipsum dolor sit amet consectetur.</li>
                        <li>Eos aliquam fuga voluptate dolorem veritatis?</li>
                        <li>Vitae cupiditate tempore deleniti velit ad.</li>
                        <li>Amet accusamus ratione aspernatur ullam repellat.</li>
                        <li>Aliquam cumque quibusdam sunt accusamus perspiciatis.</li>
                    </ul>
                </div>
            </div>

            <div class="animals-card">
                <div class="animals-image">
                    <img class="animals-img animals-img-parrot" src="/assets/animals-parrot.png" alt="">
                    <img src="/assets/animals-parrot.svg" alt="" class="animals-backsplash">
                </div>
                <div class="animals-subContainer --spread">
                    <h3>Dogs</h3>
                    <ul class="--li-spread">
                        <li>Lorem ipsum dolor sit amet consectetur.</li>
                        <li>Eos aliquam fuga voluptate dolorem veritatis?</li>
                        <li>Vitae cupiditate tempore deleniti velit ad.</li>
                        <li>Amet accusamus ratione aspernatur ullam repellat.</li>
                        <li>Aliquam cumque quibusdam sunt accusamus perspiciatis.</li>
                    </ul>
                </div>
            </div>

            <div class="animals-card">
                <div class="animals-image">
                    <img class="animals-img animals-img-fish" src="/assets/animals-fish.png" alt="">
                    <img src="/assets/animals-fish.svg" alt="" class="animals-backsplash">
                </div>
                <div class="animals-subContainer --spread">
                    <h3>Dogs</h3>
                    <ul class="--li-spread">
                        <li>Lorem ipsum dolor sit amet consectetur.</li>
                        <li>Eos aliquam fuga voluptate dolorem veritatis?</li>
                        <li>Vitae cupiditate tempore deleniti velit ad.</li>
                        <li>Amet accusamus ratione aspernatur ullam repellat.</li>
                        <li>Aliquam cumque quibusdam sunt accusamus perspiciatis.</li>
                    </ul>
                </div>
            </div>
            
            </div>

            
        </div>
    </section>



    <section class="love --split">
        <div class="love-image">
            <img class="love-img love-1" src="/assets/love-1.jpg" alt="">
            <img class="love-img love-2" src="/assets/love-2.jpg" alt="">
            <img class="love-img love-3" src="/assets/love-3.jpg" alt="">
        </div>
        <div class="splitContainer --spread">
            <h2 class="splitContainer-h2">Animal Siting With Love</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione aperiam maiores natus illum vero placeat voluptates laborum delectus suscipit quaerat pariatur quo voluptas voluptate totam dolore quas minima animi distinctio, aliquam error architecto autem repudiandae!<br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga magnam accusantium tenetur nobis nam iusto sequi quas, optio ipsam culpa sapiente exercitationem molestiae perferendis, ab, rerum dicta. Sit neque placeat sint nemo quo minima nobis dolores, blanditiis voluptatum? Nesciunt repellendus assumenda repellat eum illo minima dolore eveniet quod minus.</p>
            <a class="a-button --b-red">Book Now</a>
        </div>
    </section>



    <article class="abt">
        <h2 class="about-heading">About Us</h2>
        
            <section class="about --split2">
        <div class="about-container about-container1 --spread">
            <h3>We Love Animals!</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt laboriosam, quasi nobis aspernatur nemo  beatae exercitationem minima?</p>
            <a class="a-button --b-green">Learn More</a>
        </div>
        <picture>
            <source srcset="/assets/about-1.jpg" media="(min-width:761px)">
            <source srcset="/assets/about-1-2.jpg">
            <img class="about-img1" src="/assets/about-1.jpg" alt="">
        </picture>
        
            </section>
        
            <section class="about --split2">
        <picture>
            <source srcset="/assets/about-2.jpg" media="(min-width:761px)">
            <source srcset="/assets/about-2-2.jpg">
            <img class="about-img1" src="/assets/about-2.jpg" alt="">
        </picture>
        
        <div class="about-container about-container2 --spread">
            <h3>We Love Animals!</h3>
            <p> quod, a et aperiam maxime nobis facilis at ab laboriosam quaerat numquam repellat consequuntur explicabo culpa ut enim reiciendis beatae exercitationem minima?</p>
            <a class="a-button --b-green">Learn More</a>
        </div>
            </section>
    </article>

{# 
    <section class="aboutImages">
        
            <!-- <img class="about-img2 aboutIMG1" src="/assets/about-3.jpg" alt="">
        
        
            <img class="about-img2 aboutIMG2" src="/assets/about-4.jpg" alt="">
        
        
            <img class="about-img2 aboutIMG3" src="/assets/about-5.jpg" alt="">
        
        
            <img class="about-img2 aboutIMG4" src="/assets/about-6.jpg" alt=""> -->
        
    </section> #}


    {% include "layouts/ctaForm.njk" %}
{% endblock %}