
---
  title: Services Page
---


{% extends "boilerplate/base.njk" %}

{% block links %}
{% endblock %}


{% block content %}
    <section class="subHero" style="background-image: url('/assets/subHero-2.jpg');">
        <h1 class="subHero-h1">Our Services</h1>
    </section>




    <section class="serviceList">
        <div class="serviceList-card serviceList-red serviceList-left">
            <div class="serviceList-image">
                <img class="serviceList-img" src="/assets/serviceList-1.jpg" alt="">
            </div>
            <div class="serviceList-container">
                <h2>Service 1</h2>
                <div class="serviceList-seperator"></div>
                <p class="serviceList-p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic dolorum quam cupiditate in voluptatem minus commodi ab iste omnis quisquam aspernatur libero minima, porro doloribus, ut recusandae?</p>
                <a href="" class="a-button --b-red">Book Now</a>
            </div>
        </div>

        <div class="serviceList-card serviceList-blue serviceList-right">
            <div class="serviceList-image">
                <img class="serviceList-img" src="/assets/serviceList-1.jpg" alt="">
            </div>
            <div class="serviceList-container">
                <h2>Service 2</h2>
                <div class="serviceList-seperator"></div>
                <p class="serviceList-p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic dolorum quam cupiditate in voluptatem minus commodi ab iste omnis quisquam aspernatur libero minima, porro doloribus, ut recusandae?</p>
                <a href="" class="a-button --b-blue">Book Now</a>
            </div>
        </div>

        <div class="serviceList-card serviceList-green serviceList-left">
            <div class="serviceList-image">
                <img class="serviceList-img" src="/assets/serviceList-1.jpg" alt="">
            </div>
            <div class="serviceList-container">
                <h2>Service 3</h2>
                <div class="serviceList-seperator"></div>
                <p class="serviceList-p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic dolorum quam cupiditate in voluptatem minus commodi ab iste omnis quisquam aspernatur libero minima, porro doloribus, ut recusandae?</p>
                <a href="" class="a-button --b-green">Book Now</a>
            </div>
        </div>

        <div class="serviceList-card serviceList-red serviceList-right">
            <div class="serviceList-image">
                <img class="serviceList-img" src="/assets/serviceList-1.jpg" alt="">
            </div>
            <div class="serviceList-container">
                <h2>Service 4</h2>
                <div class="serviceList-seperator"></div>
                <p class="serviceList-p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic dolorum quam cupiditate in voluptatem minus commodi ab iste omnis quisquam aspernatur libero minima, porro doloribus, ut recusandae?</p>
                <a href="" class="a-button --b-red">Book Now</a>
            </div>
        </div>
    </section>




    <section class="animals">
        <h2>We Offer Services For Most Domestic Animals</h2>

        <div class="animals-container">
            <div class="animals-card">
                <div class="animals-image">
                    <img class="animals-img" src="/assets/animals-dog.png" alt="">
                    <img src="/assets/animals-dog.svg" alt="" class="animals-backsplash">
                </div>
                <div class="animals-subContainer --spread">
                    <h3>Dogs</h3>
                    <ul class="--li-spread">
                        <li>Lorem ipsum dolor sit amet consectetur.</li>
                        <li>Eos aliquam fuga voluptate dolorem veritatis?</li>
                        <li>Vitae cupiditate tempore deleniti velit ad.</li>
                        <li>Amet accusamus ratione aspernatur ullam repellat.</li>
                        <li>Aliquam cumque quibusdam sunt accusamus perspiciatis.</li>
                    </ul>
                </div>
            </div>

            <div class="animals-card">
                <div class="animals-image">
                    <img class="animals-img animals-img-cat" src="/assets/animals-cat.png" alt="">
                    <img src="/assets/animals-cat.svg" alt="" class="animals-backsplash">
                </div>
                <div class="animals-subContainer --spread">
                    <h3>Dogs</h3>
                    <ul class="--li-spread">
                        <li>Lorem ipsum dolor sit amet consectetur.</li>
                        <li>Eos aliquam fuga voluptate dolorem veritatis?</li>
                        <li>Vitae cupiditate tempore deleniti velit ad.</li>
                        <li>Amet accusamus ratione aspernatur ullam repellat.</li>
                        <li>Aliquam cumque quibusdam sunt accusamus perspiciatis.</li>
                    </ul>
                </div>
            </div>

            <div class="animals-card">
                <div class="animals-image">
                    <img class="animals-img animals-img-lizard" src="/assets/animals-lizard.png" alt="">
                    <img src="/assets/animals-lizard.svg" alt="" class="animals-backsplash">
                </div>
                <div class="animals-subContainer --spread">
                    <h3>Dogs</h3>
                    <ul class="--li-spread">
                        <li>Lorem ipsum dolor sit amet consectetur.</li>
                        <li>Eos aliquam fuga voluptate dolorem veritatis?</li>
                        <li>Vitae cupiditate tempore deleniti velit ad.</li>
                        <li>Amet accusamus ratione aspernatur ullam repellat.</li>
                        <li>Aliquam cumque quibusdam sunt accusamus perspiciatis.</li>
                    </ul>
                </div>
            </div>

            <div class="animals-card">
                <div class="animals-image">
                    <img class="animals-img animals-img-hamster" src="/assets/animals-hamster.png" alt="">
                    <img src="/assets/animals-hamster.svg" alt="" class="animals-backsplash">
                </div>
                <div class="animals-subContainer --spread">
                    <h3>Dogs</h3>
                    <ul class="--li-spread">
                        <li>Lorem ipsum dolor sit amet consectetur.</li>
                        <li>Eos aliquam fuga voluptate dolorem veritatis?</li>
                        <li>Vitae cupiditate tempore deleniti velit ad.</li>
                        <li>Amet accusamus ratione aspernatur ullam repellat.</li>
                        <li>Aliquam cumque quibusdam sunt accusamus perspiciatis.</li>
                    </ul>
                </div>
            </div>

            <div class="animals-card">
                <div class="animals-image">
                    <img class="animals-img animals-img-parrot" src="/assets/animals-parrot.png" alt="">
                    <img src="/assets/animals-parrot.svg" alt="" class="animals-backsplash">
                </div>
                <div class="animals-subContainer --spread">
                    <h3>Dogs</h3>
                    <ul class="--li-spread">
                        <li>Lorem ipsum dolor sit amet consectetur.</li>
                        <li>Eos aliquam fuga voluptate dolorem veritatis?</li>
                        <li>Vitae cupiditate tempore deleniti velit ad.</li>
                        <li>Amet accusamus ratione aspernatur ullam repellat.</li>
                        <li>Aliquam cumque quibusdam sunt accusamus perspiciatis.</li>
                    </ul>
                </div>
            </div>

            <div class="animals-card">
                <div class="animals-image">
                    <img class="animals-img animals-img-fish" src="/assets/animals-fish.png" alt="">
                    <img src="/assets/animals-fish.svg" alt="" class="animals-backsplash">
                </div>
                <div class="animals-subContainer --spread">
                    <h3>Dogs</h3>
                    <ul class="--li-spread">
                        <li>Lorem ipsum dolor sit amet consectetur.</li>
                        <li>Eos aliquam fuga voluptate dolorem veritatis?</li>
                        <li>Vitae cupiditate tempore deleniti velit ad.</li>
                        <li>Amet accusamus ratione aspernatur ullam repellat.</li>
                        <li>Aliquam cumque quibusdam sunt accusamus perspiciatis.</li>
                    </ul>
                </div>
            </div>
            
            </div>

            
        </div>
    </section>



    {% include "layouts/ctaForm.njk" %}

{% endblock %}