/*************************************************************************/
/*************************** GLOBAL STYLING ******************************/
/*************************************************************************/



/* ------------------GLOBAL MAIN STYLING ------------------ */


:root{
    /* Main Colors */
    --c-light: #f7f7f7;
    --c-dark: #1b1311;
    --c-green: #7cf8ba;
    --c-greenDark: #076034;
    --c-red: #f88e8e;
    --c-redDark: #a60c0c;
    --c-blue: #a3d2ee;
    --c-blueDark: #035297;
    --c-grey: #d2d2d2;
}


*{
	/* Removes certain default style */
	padding: 0;
	margin: 0;
	text-decoration: none;
    background: none;
	border: none;

	/* Replaces certain default style */
	box-sizing: border-box;
}

body{
    background-color: var(--c-light);
}

html{
    color: var(--c-dark);
}


section{
    /* Gap size underneath each section */
    margin-bottom: calc((150 /16 * 1rem) + ((400 - 150) * ((100vw - 320px) / (1920 - 320))));

    /* Overall side gutter size */
    padding-inline: calc((20 /16 * 1rem) + ((120 - 20) * ((100vw - 320px) / (1920 - 320))));
}


img{
    max-width: 100%;
    display: block;
}


/* ------------------GLOBAL BUTTONS------------------ */


/* Default Button Styling */

button, .a-button{
    display: block;

    width: max-content;

    color: var(--c-light);
    font-weight: 700;
    border-radius: 200px;

    /* Padding Sizes */
    padding-inline: calc((20 /16 * 1rem) + ((30 - 20) * ((100vw - 320px) / (1920 - 320))));
    padding-block: calc((8 /16 * 1rem) + ((12 - 8) * ((100vw - 320px) / (1920 - 320))));/* 
    
    /* Font Size */
    /* font-size: calc((min /16 * 1rem) + ((max - min) * ((100vw - 320px) / (1920 - 320)))); */
}
.a-button::before{

    display: inline-block;
    content: '';
    background-image: url(./Assets/icon-check.svg);
    background-size: cover;

    width: calc((12 /16 * 1rem) + ((20 - 12) * ((100vw - 320px) / (1920 - 320))));
    height: calc((12 /16 * 1rem) + ((20 - 12) * ((100vw - 320px) / (1920 - 320))));

    margin-right: 16px;
}

/* Custom Button Stylings */
.--b-red{
    background-color: var(--c-redDark);
}
.--b-green{
    background-color: var(--c-greenDark);
}
.--b-blue{
    background-color: var(--c-blueDark);
}

.learnMore{
    color: var(--c-dark);
    font-family: comfortaa;
    font-weight: lighter;
    font-size: calc((15 /16 * 1rem) + ((20 - 15) * ((100vw - 320px) / (1920 - 320))));
    text-decoration: underline;
}

/* ------------------GLOBAL TYPOGRAPGY------------------ */


/* Default text Styling */

h1, h2, h3{
    
}


h1{
    font-family: comfortaa;
    
    /* Font Size */
    font-size: calc((30 /16 * 1rem) + ((65 - 30) * ((100vw - 320px) / (1920 - 320))));
}

h2{
    font-family: comfortaa;
    font-weight: 400;

    /* Font Size */
    font-size: calc((20 /16 * 1rem) + ((50 - 20) * ((100vw - 320px) / (1920 - 320))));
}

h3{
    font-family: amaticBold;

    /* Font Size */
    font-size: calc((34 /16 * 1rem) + ((58 - 34) * ((100vw - 320px) / (1920 - 320))));
}

p, .a-button, li{

    font-family: opensans;

    /* Font Size */
    font-size: calc((15 /16 * 1rem) + ((26 - 15) * ((100vw - 320px) / (1920 - 320))));
}

ul{
    list-style: none;
}



@font-face {
    font-family: comfortaa;
    src: url(./Assets/Comfortaa-VariableFont_wght.ttf);
}
@font-face {
    font-family: amatic;
    src: url(./Assets/AmaticSC-Regular.ttf);
}
@font-face {
    font-family: amaticBold;
    src: url(./Assets/AmaticSC-Bold.ttf);
}
@font-face {
    font-family: openSans;
    src: url(./Assets/OpenSans-VariableFont_wdth\,wght.ttf);
}

/* Custom text Styling */



/*************************************************************************/
/******************************* HEADER **********************************/
/*************************************************************************/

header{
    height: calc((60 /16 * 1rem) + ((220 - 60) * ((100vw - 320px) / (1920 - 320))));
    width: 100%;
}


/*************************************************************************/
/******************************* FOOTER **********************************/
/*************************************************************************/




/*************************************************************************/
/*************************** COMMON STYLING ******************************/
/*************************************************************************/




.--spread > *:not(:last-child){
    margin-bottom: calc((30 /16 * 1rem) + ((60 - 30) * ((100vw - 320px) / (1920 - 320))));
}

.--li-spread > *:not(:last-child){
    margin-bottom: calc((13 /16 * 1rem) + ((25 - 13) * ((100vw - 320px) / (1920 - 320))));
}

.--split{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.--split2{
    display: grid;
    gap: calc((30 /16 * 1rem) + ((160 - 30) * ((100vw - 320px) / (1920 - 320))));
    grid-template-columns: 1fr 1fr;
}



.divider-text{
    font-family: amatic;
    font-size: calc((12 /16 * 1rem) + ((32 - 12) * ((100vw - 320px) / (1920 - 320))));
}
.--s-divider{
    margin: auto;

    width: 70%;

    display: flex;
    align-items: center;
    gap: calc((20 /16 * 1rem) + ((50 - 20) * ((100vw - 320px) / (1920 - 320))));
    
    margin-bottom: calc((70 /16 * 1rem) + ((170 - 70) * ((100vw - 320px) / (1920 - 320))));
}
.divider-line{
    background-color: var(--c-dark);
    flex: 1;
    height: calc((1 /16 * 1rem) + ((2 - 1) * ((100vw - 320px) / (1920 - 320))));
}
