/*************************************************************************/
/*************************** GLOBAL STYLING ******************************/
/*************************************************************************/



/* ------------------GLOBAL MAIN STYLING ------------------ */


:root{
    --sidePadding: calc((20 /16 * 1rem) + ((120 - 20) * ((100vw - 320px) / (1920 - 320))));
    --sectionMargin: calc((150 /16 * 1rem) + ((400 - 150) * ((100vw - 320px) / (1920 - 320))));


    /* Main Colors */
    --c-light: #f7f7f7;
    --c-dark: #1b1311;
    --c-green: #7cf8ba;
    --c-greenDark: #076034;
    --c-red: #f88e8e;
    --c-redDark: #a60c0c;
    --c-blue: #a3d2ee;
    --c-blueDark: #035297;
    --c-grey: #d2d2d2;
}


*{
	/* Removes certain default style */
	padding: 0;
	margin: 0;
	text-decoration: none;
    background: none;
	border: none;

	/* Replaces certain default style */
	box-sizing: border-box;
}

body{
    background-color: var(--c-light);
}

html{
    color: var(--c-dark);
}

body, html{
    /* max-width: 100%;
    overflow-x: hidden; */
}


section{
    /* Gap size underneath each section */
    margin-bottom: var(--sectionMargin);

    /* Overall side gutter size */
    padding:0  var(--sidePadding);
}


img{
    max-width: 100%;
    display: block;
}


/* ------------------GLOBAL BUTTONS------------------ */


/* Default Button Styling */

button, .a-button{
    display: block;

    width: max-content;

    color: var(--c-light);
    font-weight: 700;
    border-radius: 200px;

    /* Padding Sizes */
    padding: calc((8 /16 * 1rem) + ((12 - 8) * ((100vw - 320px) / (1920 - 320)))) calc((20 /16 * 1rem) + ((30 - 20) * ((100vw - 320px) / (1920 - 320))));
    
    /* Font Size */
    /* font-size: calc((min /16 * 1rem) + ((max - min) * ((100vw - 320px) / (1920 - 320)))); */
}
.a-button::before{

    display: inline-block;
    content: '';
    background-image: url(./Assets/icon-check.svg);
    background-size: cover;

    width: calc((12 /16 * 1rem) + ((20 - 12) * ((100vw - 320px) / (1920 - 320))));
    height: calc((12 /16 * 1rem) + ((20 - 12) * ((100vw - 320px) / (1920 - 320))));

    margin-right: 16px;
}

/* Custom Button Stylings */
.--b-red{
    background-color: var(--c-redDark);
}
.--b-green{
    background-color: var(--c-greenDark);
}
.--b-blue{
    background-color: var(--c-blueDark);
}

.learnMore{
    color: var(--c-dark);
    font-family: comfortaa;
    font-weight: lighter;
    font-size: calc((15 /16 * 1rem) + ((20 - 15) * ((100vw - 320px) / (1920 - 320))));
    text-decoration: underline;
}

/* ------------------GLOBAL TYPOGRAPGY------------------ */


/* Default text Styling */

h1, h2, h3{
    
}


h1{
    font-family: comfortaa;
    
    /* Font Size */
    font-size: calc((30 /16 * 1rem) + ((65 - 30) * ((100vw - 320px) / (1920 - 320))));
}

h2{
    font-family: comfortaa;
    font-weight: 400;

    /* Font Size */
    font-size: calc((20 /16 * 1rem) + ((50 - 20) * ((100vw - 320px) / (1920 - 320))));
}

h3{
    font-family: amaticBold;

    /* Font Size */
    font-size: calc((34 /16 * 1rem) + ((58 - 34) * ((100vw - 320px) / (1920 - 320))));
}

p, .a-button, li, label{

    font-family: opensans;

    /* Font Size */
    font-size: calc((15 /16 * 1rem) + ((26 - 15) * ((100vw - 320px) / (1920 - 320))));
}

ul{
    list-style: none;
}



@font-face {
    font-family: comfortaa;
    src: url(./Assets/Comfortaa-VariableFont_wght.ttf);
}
@font-face {
    font-family: amatic;
    src: url(./Assets/AmaticSC-Regular.ttf);
}
@font-face {
    font-family: amaticBold;
    src: url(./Assets/AmaticSC-Bold.ttf);
}
@font-face {
    font-family: openSans;
    src: url(./Assets/OpenSans-VariableFont_wdth\,wght.ttf);
}

/* Custom text Styling */




/*************************************************************************/
/*************************** COMMON STYLING ******************************/
/*************************************************************************/




.--spread > *:not(:last-child){
    margin-bottom: calc((25 /16 * 1rem) + ((60 - 25) * ((100vw - 320px) / (1920 - 320))));
}

.--li-spread > *:not(:last-child){
    margin-bottom: calc((13 /16 * 1rem) + ((25 - 13) * ((100vw - 320px) / (1920 - 320))));
}

.--split{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.--split2{
    display: grid;
    gap: calc((30 /16 * 1rem) + ((160 - 30) * ((100vw - 320px) / (1920 - 320))));
    grid-template-columns: 1fr 1fr;
}



.divider-text{
    font-family: amatic;
    font-size: calc((12 /16 * 1rem) + ((32 - 12) * ((100vw - 320px) / (1920 - 320))));
}
.--s-divider{
    margin: auto;

    width: 70%;

    display: flex;
    align-items: center;
    gap: calc((20 /16 * 1rem) + ((50 - 20) * ((100vw - 320px) / (1920 - 320))));
    
    margin-bottom: calc((70 /16 * 1rem) + ((170 - 70) * ((100vw - 320px) / (1920 - 320))));
}
.divider-line{
    background-color: var(--c-dark);
    flex: 1;
    height: calc((1 /16 * 1rem) + ((2 - 1) * ((100vw - 320px) / (1920 - 320))));
}





.about-img1, .about-img2{
    border-radius: 5px;

    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.4));
    -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.4));
}






/*************************************************************************/
/******************************* HEADER **********************************/
/*************************************************************************/

header{
    padding:0  var(--sidePadding);
    width: 100%;
    height: calc((60 /16 * 1rem) + ((100 - 60) * ((100vw - 320px) / (1920 - 320))));
    background-color: var(--c-light);
    
    display: flex;
    z-index: 3;

    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
}

.header-hamburger-button{
    width: calc((22 /16 * 1rem) + ((70 - 22) * ((100vw - 320px) / (1920 - 320))));
    height: calc((3 /16 * 1rem) + ((10 - 3) * ((100vw - 320px) / (1920 - 320))));
    background-color: var(--c-dark);
    position: relative;
}
.header-hamburger-button::before{
    right: 0;
    position: absolute;
    content: '';
    top: 200%;
    width: 70%;
    height: calc((3 /16 * 1rem) + ((10 - 3) * ((100vw - 320px) / (1920 - 320))));
    background-color: var(--c-dark);
}
.header-hamburger-button::after{
    right: 0;
    position: absolute;
    content: '';
    bottom: 200%;
    width: 70%;
    height: calc((3 /16 * 1rem) + ((10 - 3) * ((100vw - 320px) / (1920 - 320))));
    background-color: var(--c-dark);
}
.header-nav * {
    font-size: calc((18 /16 * 1rem) + ((20 - 18) * ((100vw - 320px) / (1920 - 320))));
    font-family: comfortaa;
    color: var(--c-dark);
}

.header-nav{
    z-index: 3;
    position: fixed;
    display: none;

    top: calc((60 /16 * 1rem) + ((100 - 60) * ((100vw - 320px) / (1920 - 320))) - 2px);
    right: 0;
    bottom: 0;
    padding-left: calc((30 /16 * 1rem) + ((100 - 30) * ((100vw - 320px) / (1920 - 320))));
    padding-right: var(--sidePadding);

    background-color: var(--c-light);

    text-align: right;
}
.header-nav > ul > *:not(:last-child){
    margin-bottom: calc((10 /16 * 1rem) + ((60 - 10) * ((100vw - 320px) / (1920 - 320))));
}

.header-hamburger-checkbox{
    display: none;
}
.header-hamburger-checkbox:checked ~ .header-nav{
    display: block;
}

.selected{
    position: relative;
}
.selected::before {
    content: "";
    position: absolute;
    display: inline-block;
    z-index: -1;
  
    background-image: url(./Assets/header-highlight.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  
    height: 250%;
    width: 150%;
  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.header-logo{
    width: calc((100 /16 * 1rem) + ((250 - 100) * ((100vw - 320px) / (1920 - 320))));   
}

@media screen and (min-width:1000px) {
    .header-nav{
        display: inline-block;
        position: static;
        padding: 0;
    }
    .header-nav *{
        display: inline-block;
        margin-bottom: 0;
    }
    .header-label{
        display: none;
    }
    .header-nav > ul > *:not(:last-child){
        margin-bottom: 0;
        margin-right: calc((10 /16 * 1rem) + ((60 - 10) * ((100vw - 320px) / (1920 - 320))));
    }
}





.subHero-h1{
    z-index: 1;
    position: relative;
    height: min-content;
    width: max-content;
    margin: auto;

    font-family: comfortaa;
    color: var(--c-light);
    font-size: calc((25 /16 * 1rem) + ((130 - 25) * ((100vw - 320px) / (1920 - 320))));
}

.subHero{
    position: relative;
    display: flex;
    height: calc((175 /16 * 1rem) + ((600 - 175) * ((100vw - 320px) / (1920 - 320))));

    background-position: center 12%;
    background-repeat: no-repeat;
    background-size: cover;
}
.subHero::after{
    z-index: 0;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: black;
    opacity: 0.65;
}



/*************************************************************************/
/******************************* FOOTER **********************************/
/*************************************************************************/




footer{
    background-color: #cbe0ed;
    padding: calc((50 /16 * 1rem) + ((150 - 50) * ((100vw - 320px) / (1920 - 320)))) 0;
}

footer > *{
    margin: auto;
}

.footer-nav{
    margin: auto;
    margin-bottom: calc((40 /16 * 1rem) + ((90 - 40) * ((100vw - 320px) / (1920 - 320))));
    width: fit-content;
}

.footer-a{
    display: block;

    color: #1b1311;
    font-family: amatic;
    text-align: center;
    font-size: calc((25 /16 * 1rem) + ((45 - 25) * ((100vw - 320px) / (1920 - 320))));
    font-weight: 500;
}

.footer-container{
    display: flex;
    justify-content: space-evenly;
}

.footer-icon{
    display: inline-block;
    width: calc((24 /16 * 1rem) + ((50 - 24) * ((100vw - 320px) / (1920 - 320))));
}

@media screen and (min-width: 600px) {
    .footer-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

        gap: calc((20 /16 * 1rem) + ((50 - 20) * ((100vw - 320px) / (1920 - 320))));
        width: calc((200 /16 * 1rem) + ((600 - 200) * ((100vw - 320px) / (1920 - 320))));
    }
}





.form-container{
    color: var(--c-light);
    gap: calc((30 /16 * 1rem) + ((300 - 30) * ((100vw - 320px) / (1920 - 320))));
}

.infoCard-h3{
    font-family: comfortaa;
}
.form-infoCard{
    background-color: #63b5e5;
    padding: calc((30 /16 * 1rem) + ((60 - 30) * ((100vw - 320px) / (1920 - 320))));

    border-radius: calc((10 /16 * 1rem) + ((40 - 10) * ((100vw - 320px) / (1920 - 320))));
}

form *{
    display: block;
}

.form-box{
    width: 100%;
    height: calc((30 /16 * 1rem) + ((50 - 30) * ((100vw - 320px) / (1920 - 320))));

    border-style: solid;
    border-width: calc((1 /16 * 1rem) + ((2 - 1) * ((100vw - 320px) / (1920 - 320))));
    border-color: var(--c-blue);
    border-radius: 10px;

    margin-bottom: calc((30 /16 * 1rem) + ((40 - 30) * ((100vw - 320px) / (1920 - 320))));
}

label{
    color: var(--c-blueDark);
    font-size: calc((16 /16 * 1rem) + ((26 - 16) * ((100vw - 320px) / (1920 - 320))));
    font-family: comfortaa;
    font-weight: 100;

    margin-bottom: calc((10 /16 * 1rem) + ((20 - 10) * ((100vw - 320px) / (1920 - 320))));
}

.form-button{
    margin-left: auto;
}

.form-messageBox{
    height: calc((130 /16 * 1rem) + ((200 - 130) * ((100vw - 320px) / (1920 - 320))));
}


@media screen and (max-width: 800px) {
    .form-infoCard{
        padding: calc((30 /16 * 1rem) + ((60 - 30) * ((100vw - 320px) / (1920 - 320))));
        height: max-content;

        margin-bottom: calc((40 /16 * 1rem) + ((200 - 40) * ((100vw - 320px) / (1920 - 320))));
    }

    .form-container{
        display: block;
    }
}




.splitContainer{    
    flex: 1;
    flex-basis: 260px;
}

.splitContainer-h2{
    position: relative;
    margin-top: 40px;
}

.splitContainer-h2::before{
    z-index: -1;
    position: absolute;
    content: '';

    border-top-left-radius: calc((10 /16 * 1rem) + ((30 - 10) * ((100vw - 320px) / (1920 - 320))));
    border-bottom-left-radius: calc((10 /16 * 1rem) + ((30 - 10) * ((100vw - 320px) / (1920 - 320))));
    filter: opacity(0.6);
    
    background-color: var(--c-red);
    left: calc(-1 * ((10 /16 * 1rem) + ((20 - 10) * ((100vw - 320px) / (1920 - 320)))));
    top: calc(-1 * ((10 /16 * 1rem) + ((20 - 10) * ((100vw - 320px) / (1920 - 320)))));
    bottom: calc(-1 *((10 /16 * 1rem) + ((20 - 10) * ((100vw - 320px) / (1920 - 320)))));
    
    right: calc(-1 * var(--sidePadding));
}






.animals > h2{
    text-align: left;
    margin-bottom: calc((30 /16 * 1rem) + ((30 - 30) * ((100vw - 320px) / (1920 - 320))));
}
.animals-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.animals-card{
    flex: 1;
}
.animals-subContainer{
    margin: auto;
    
    background-color: white;
    padding: calc((10 /16 * 1rem) + ((50 - 10) * ((100vw - 320px) / (1920 - 320))));
    border-radius: 15px;

    width: calc((280 /16 * 1rem) + ((500 - 280) * ((100vw - 320px) / (1920 - 320))));
}
.animals-subContainer h3{
    position: relative;
}
.animals-subContainer h3::before{
    content: '';
    position: absolute;
    background-color: black;
    height: 1px;
    left: 0;
    right: 0;
    bottom: -0.35em;
}
.animals-image{
    margin: auto;
    position: relative;
    margin-bottom: calc((25 /16 * 1rem) + ((70 - 25) * ((100vw - 320px) / (1920 - 320))));
    margin-top: calc((100 /16 * 1rem) + ((200 - 100) * ((100vw - 320px) / (1920 - 320))));
    
    width: calc((200 /16 * 1rem) + ((400 - 200) * ((100vw - 320px) / (1920 - 320))));
    height: calc((200 /16 * 1rem) + ((400 - 200) * ((100vw - 320px) / (1920 - 320))));
}
.animals-backsplash{
    position: absolute;
    width: 100%;
}
.animals-img{
    position: absolute;
    z-index: 2;

    width: 100%;
    top: -30%;
    height: auto;
}
.animals-img-lizard,.animals-img-parrot, .animals-img-fish{
    top: 10%;
}

.animals ul {
    list-style-type: circle;
    list-style-position: inside;
}

  
.animals li {
    display: flex;
}
  
.animals li::before {
    content: "\25CF";
    margin-right: 0.5em; /* Adjust the spacing between the bullet and the text */
}

.header-logo-a{
    width: min-content;
    height: min-content;
}